<% provide(:head_title, "Home") %>
<div class="home jumbotron">
  <h1>Welcome to<br>Instagram clone App</h1>
  <p>友達と写真を共有しよう！</p>

  <%= link_to "新規登録 (facebook)", 'X', class: "btn btn-lg btn-primary"%>
</div>