@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */ 

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  padding-top: 80px;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}


/* header */

.head {
  border-radius: 0;
}


/* footer */

footer {
  margin-top: 30px;
  background-color: #EEEEEE;
  height: 160px;
  line-height: 1px;
  a {
    font-size: 24px;
    display: inline-block;
    margin-top: 50px;
  }
  h3 {
    text-align: right;
    color: white;
  }
}


/* home */

.home {
  text-align: center;
  h1 {
    margin-top: 0;
  }
  p {
    margin-top: 50px;
  }
  a {
    margin-top: 50px;
  }
}


/* form */

input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 20px;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 10px 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: rgb(255, 136, 0);
  }
}






