<footer>
  <div class="container">
    <%= link_to "Image Upload now!",  new_user_image_path,
                                      class: "btn btn-lg btn-primary" %>
    <h3>Instagram Clone App</h3>
  </div>
</footer>